version: '3'

services:
  # Database
  db: 
    image: mariadb:latest
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    networks:
      - wpsite
  
  # PHPmyAdmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports: 
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - wpsite

  # WordPress
  wordpress: 
    depends_on: 
      - db
    image: jstreuper/wordpress:latest
    ports: 
      - '8000:80'
    restart: always
    volumes: ['./wordpress/themes:/var/www/html/content/themes', 
              './wordpress/plugins:/var/www/html/content/plugins',
              './wordpress/uploads:/var/www/html/content/uploads']
    networks: 
      - wpsite

networks:
  wpsite:
volumes:
  db_data:
